* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-display {
    display: flex;
    flex-direction: column;
}