* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

button {
    width: 60px;
    height: 50px;
    margin: 2px;
    border: 1px solid black;
    border-radius: 10%;
}

button:hover {
    background-color: rgb(216, 216, 216);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    border: 1px solid black;
}

.buttons-display {
    display: flex;
}

.col-1, .col-2, .col-3,
.col-4, .col-5 {
    display: flex;
    flex-direction: column;
}

#equal {
    flex: 1;
}