@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', 'Google sans', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
}

button {
    width: 4rem;
    height: 3.5rem;
    margin: 0.15rem;
    border: 0px;
    border-radius: 10%;
    background-color: rgb(231, 231, 231);
    font-size: 16px;
    font-weight: 300;
}

button:hover {
    background-color: rgb(214, 214, 214);
}

.bold-button {
    font-weight: bolder;
}

.digit {
    background-color: rgb(212, 212, 212);
}

.digit:hover {
    background-color: rgb(194, 194, 194);;
}

#equal {
    background-color: rgb(238, 118, 77);
    color: white;
}

#equal:hover {
    background-color: rgb(245, 130, 92);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22.5rem;
    border: 1px solid black;
    border-radius: 0.65rem;
}

.buttons-display {
    display: flex;
    margin: 0.5rem;
}

.col-1, .col-2, .col-3,
.col-4, .col-5 {
    display: flex;
    flex-direction: column;
}

#equal {
    flex: 1;
}

.result-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(242, 242, 242);
    flex: 1 1 20rem;
    width: 100%;
    border-radius: 0.65rem 0.65rem 0 0;
    font-size: 20px;
}

.operation-display {
    background-color: white;
    flex: 1 1 4rem;
    width: 100%;
    margin-bottom: 0.15rem;
    box-shadow: 0 5px 10px -10px black;
    font-size: 20px;
}

.result {
    margin-top: 10px;
    padding: 0 16px;
    border-bottom: 1px solid #cacaca; 
}

.operation {
    margin: 10px 16px;
}